.navbar {
  /* background-color: var(--color-primary); */
  background-color: #34c94b;
  height: 74px;
  /* width: 80vw; */
  width: 100%;
  padding: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
